{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Voulez-vous vraiment supprimer le stagiaire{% endblock %}

{% block menuhaut %}
    {% include "admin/menuHautAdmin.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Gestion des étudiants</p>
            </div>
            <div class="col-lg-6 text-left">
                <h5 class='mb-4 text-center'>Voulez-vous vraiment supprimer le stagiaire:</h5>
                {# Faites apparaître le stagiaire avec ses sections quand il en a #}
                {# dump(student) #}
                {% for item in student %}
                    <h4>{{ item.thename }} {{ item.thesurname }}<small> <a href='?adminstudent&update={{ item.idthestudent }}'>Mettre à jour</a> | <a href='?adminstudent&delete={{ item.idthestudent }}'>Supprimer</a> </small></h4>
                    {% if item.thetitle is empty %}
                        <p>Cet élève n'est pas dans une section</p>
                    {% else %}    
                        <p>{{ item.thetitle }}</p>
                    {% endif %}
                {% else %}
                    <h4 class='mt-3'>Pas encore d'étudiants</h4>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}

{% block bas %}
    {% include "footer.html.twig" %}
{% endblock %}