{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Voulez-vous vraiment supprimer le stagiaire{% endblock %}

{% block menuhaut %}
    {% include "admin/menuHautAdmin.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Gestion des étudiants</p>
            </div>
            <div class="col-lg-6 text-left">
                 <p>{{ user.thename }} {{ user.thesurname }}</p>
            <h5>Présent dans les section(s): </h5>
            
            {% set thetitle = user.thetitle|split('|||') %}
            {% for user in thetitle %}
                
                {% if user is empty %}
                    <p>Pas de section</p>
                {% else %}
                    <p>{{ user }} </p>
                {%  endif %}
            {% endfor %}


            <div><a type="button" href="?adminstudent&delete={{ user.idthestudent }}&ok" class="btn btn-primary">Supprimer</a> <a type="button" href="?adminstudent" class="btn btn-secondary">Annuler</a> </div>
            
        </div>
    </div>
</main>

{% endblock %}

{% block bas %}
    {% include "footer.html.twig" %}
{% endblock %}
