{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Rubrique {{ detailsection.thetitle }}{% endblock %}

{% block menuhaut %}
{% include "menuhautpublic.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">{{ detailsection.thetitle }}</h1>
                <p class="lead">{{ detailsection.thedesc }}</p>
            </div>
            <div class="col-lg-6 text-left">
                {# on affichera les students de cette section" #}
                {% for item in student %}
                    <h5>{{ item.thesurname }} {{ item.thename }}</h5>
                    {% else %}
                    <h4>Pas d'étudiants dans cette section</h4>
                {% endfor %}
            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}